@{
    ViewBag.Title = "關於我們";
}

<h1>關於 Wish Estate 許園</h1>
<hr />
<div class="row">
    <div class="col-md-8">
        <p>「許園股份有限公司」的英文是 Wish Estate Co.,Ltd.，「WE」是 Wish Estate 的字首簡寫，代表我們永遠與客戶站在一起，共同成為一個「我們」。</p>
    </div>
</div>
